<ion-header no-border translucent class="qrcode-header">
  <ion-toolbar class="qrcode-toolbar">
    <ion-buttons slot="end" class="ion-padding">
      <ion-back-button icon="close-circle" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        Pindai QR Code
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="qrcode-content">
  <div class="mask">
    <ion-text color="light">
      <h2 class="ion-text-center"><b>Mencari QR Code...</b></h2>
    </ion-text>

    <div class="mask-center"></div>

    <ion-text color="light">
      <h6 class="ion-text-center">Harap arahkan kamera <br> pada QR Code Scanner</h6>
    </ion-text>
  </div>
</ion-content>